<header>
  <img
    src="assets/img/jhonatan.png"
    alt="Jhonatan Silva - Foto de Perfil"
    width="120px"
    height="134px"
    Loading="eager"
  />
  <h1>Jhonatan Silva</h1>
</header>

<aside>
  <div class="container">
    <p>Full-stack | JAVA | SpringBoot | NodeJs | angular 17  </p>
    <p>Joinville, Santa Catarina, Brasil</p>
    <p>
      Desenvolvedor Java Júnior com experiência em desenvolvimento de políticas de crédito.
      Proficiente em Java, Spring Framework, Quarkus e banco de dados relacionais.
      Atuo com metodologias ágeis e busco aprimorar minhas habilidades em tecnologias como Angular 17,
      Node.js e TypeScript.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/Curriculo" download="Curriculo.pdf" target="_blank" class="btn btn-primary">
            Curriculo
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jhonatanjo%C3%A3osilva/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/JhonatanJSilva" target="_blank" class="btn btn-tertiary">
            GitHub
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone para contato do WhatsApp"
          width="22px"
          height="24px"
          />
          <figcaption>
            <a href="https://wa.me/5547984556666?text=Procuro%20um%20desenvolvedor" target="_blank">
              <strong>Envie uma menssagem para:</strong>
              <p>WhatsApp: (47) 98455-6666</p>
            </a>
          </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Icone para contato do WhatsApp"
          width="22px"
          height="24px"
          />
          <figcaption>
            <a href="mailto:jjsilvajlle@gmail.com" target="_blank">
              <strong>Envie um e-mail para:</strong>
              <p>jjsilvajlle&#64;gmail.com</p>
            </a>
          </figcaption>
      </figure>
    </section>
  </div>
</aside>
