:root {
  --primary: #9F5F9F;
  --primary-010: #4F2F4F;

  --secondary: #06628a;
  --secondary-010: #06374e;

  --tertiary: #238E23;
  --tertiary-010: #215E21;

  --white: #fff;

  --black: #10101a;
  --black-010: #2a2a30;

  --gray: #9b9ba0;
}
